@font-face {
    font-family: "ibm-plex-mono-400";
    src: url("assets/fonts/ibm-plex-mono-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "inter";
    src: url("assets/fonts/inter-variable.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "lexend";
    src: url("assets/fonts/lexend-exa-100.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "lexend";
    src: url("assets/fonts/lexend-exa-200.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "lexend";
    src: url("assets/fonts/lexend-exa-300.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "lexend";
    src: url("assets/fonts/lexend-exa-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "lexend";
    src: url("assets/fonts/lexend-exa-500.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "lexend";
    src: url("assets/fonts/lexend-exa-600.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "lexend";
    src: url("assets/fonts/lexend-exa-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "lexend";
    src: url("assets/fonts/lexend-exa-800.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "lexend";
    src: url("assets/fonts/lexend-exa-900.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "jetbrains-mono";
    src: url("assets/fonts/JetBrainsMono-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "jetbrains-mono";
    src: url("assets/fonts/JetBrainsMono-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: "jetbrains-mono";
    src: url("assets/fonts/JetBrainsMono-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: "jetbrains-mono";
    src: url("assets/fonts/JetBrainsMono-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: "jetbrains-mono";
    src: url("assets/fonts/JetBrainsMono-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}