.indicator-line {
    height: 0.25rem;
    width: 1px;
    border-radius: 9999px;
    background-color: white;
    transition: all 200ms ease-in-out;
}

.indicator-line.active {
    animation: indicator-line 0.5s ease infinite;
    animation-delay: calc(var(--animation-order) * 0.1s);
}

@keyframes indicator-line {
    0% {
        height: 4px;
        transform: translateY(-0px);
    }

    50% {
        height: 16px;
        transform: translateY(-4px);
    }

    100% {
        height: 4px;
        transform: translateY(-0px);
    }
}

.parallax-bg {
    width: 105%;
    height: 105%;
    object-position: center;
}

.desktop-transition {
    transition: transform 0.2s ease-out;
}

.mobile-transition {
    transition: transform 0.06s ease-out;
}