html {
    scroll-behavior: smooth;
}

.indicator-line {
    height: 0.25rem;
    width: 1px;
    border-radius: 9999px;
    background-color: white;
    transition: all 200ms ease-in-out;
}

.indicator-line.active {
    animation: indicator-line 0.5s ease infinite;
    animation-delay: calc(var(--animation-order) * 0.1s);
}

@keyframes indicator-line {
    0% {
        height: 4px;
        transform: translateY(-0px);
    }

    50% {
        height: 16px;
        transform: translateY(-4px);
    }

    100% {
        height: 4px;
        transform: translateY(-0px);
    }
}

.desktop-transition {
    transition: transform 0.2s ease-out;
}

.mobile-transition {
    transition: transform 0.06s ease-out;
}

img {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

.discussion-item-1,
.discussion-item-2 {
    position: relative;
}

.discussion-item-1::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    will-change: width;
    background-color: #73BB06;
    transition: all 0.4s ease;
}

.discussion-item-2::before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    will-change: width;
    background-color: #73BB06;
    transition: all 0.4s ease;
    transition-delay: 0.2s;
}


.discussion-item-1:hover::before,
.discussion-item-2:hover::before {
    width: 100%;
}

.discussion-item-1::after,
.discussion-item-2::after {
    content: "VISIT FORUM";
    font-family: "lexend";
    font-weight: 300;
    width: 100%;
    height: 100%;
    font-size: 4rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    font-weight: 600;
    color: white;
    text-align: center;
    opacity: 0;
    transition: all 0.4s ease;
    cursor: pointer;
}

.discussion-item-1:hover::after,
.discussion-item-2:hover::after {
    transition-delay: 0.3s;
    opacity: 1;
}

@media (max-width: 640px) {
    .discussion-item-1::after,
    .discussion-item-2::after {
        font-size: 1.4rem;
    }
}

@media (min-width: 641px) and (max-width: 768px) {
    .discussion-item-1::after,
    .discussion-item-2::after {
        font-size: 1.5rem;
    }
}

@media (min-width: 769px) and (max-width: 1280px) {
    .discussion-item-1::after,
    .discussion-item-2::after {
        font-size: 2.6rem;
    }
}

#heroes-images {
    padding-right: 15px;
    /* scroll-snap-type: y proximity; */
}

#heroes-images>div {
    /* scroll-snap-align: center;
    scroll-snap-stop: always; */
    cursor: pointer;
}

#heroes-images::-webkit-scrollbar {
    width: 2px;
    background-color: #5B5B5B;
}

#heroes-images::-webkit-scrollbar-thumb {
    background-color: #83DB00;
}

@media (max-width: 768px) {
    #heroes-images {
        padding-right: 0;
        padding-bottom: 15px;
    }
    
    #heroes-images::-webkit-scrollbar {
        width: auto;
        height: 1px;
    }
}

.hero-info-image-label,
.hero-info-image-container {
    clip-path: polygon(100% 0, 100% 100%, 10% 100%, 0 95%, 0 0);
}